@CHARSET "UTF-8";

body {
	text-align:center;
}

#kadaiTitle {
	color:red;
	text-shadow:#ffffff 1px 1px 1px, #ffffff 0 0 0.3em;
	font:bold 120px serif;
	border-style:solid;
	border-color:red; }

#name_in {
	color:white;
	font:50px sans-serif; }

#required {
	color:yellow;
	font:30px sans-serif; }

#maxlength {
	color:yellow;
	font:30px sans-serif; }

#attention {
	color:white;
	font:30px sans-serif;
}

#ShowResult_html {
	color:white;
	font:medium sans-serif;
}

#user_name {
	color:#ff7f50;
	font:50px sans-serif;
}

#resultmessage {
	color:#c0c0c0;
	font:30px sans-serif;
}

#result {
	color:red;
	font:80px serif;
}

#comment {
	color:#ffffff;
	font:20px serif;
}

#table_kako {
	border:#d0d0d0 outset;
	font:30px serif;
	text-align:center;

}

#kako_link {
	text-align:right;
}

#main_link {
	text-align:left;
}

#tr0 {
	color:#dfdfdf;
}

#tr1 {
	color:#ff0000;
}

#tr2 {
	color:#ff2d2d;
}

#tr3 {
	color:#ff5151;
}

#tr4 {
	color:#ff9393;
}

#tr5 {
	color:#ffc6c6;
}

#table_positon {

}