@CHARSET "UTF-8";

/* body内部は全て中央寄せ */
body {
	text-align: center;
	font-family: sans-serif;
}

/* イーガオのロゴ画像 */
.TitleRogo {
	max-width: 100%;
	min-width: 25%;
	border: none;
}

table {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	border-collapse: separate;
}

/* 空セルの表示 */
td {
	empty-cells: show;
}

/* テキスト右寄せ */
.TextRight {
	text-align: right;
}

/* 各画面の名前表示 */
caption {
	color: blue;
	font: 125% bold sans-serif;
}

/*
---------- ボタン ----------
Login・Admin・Submit・Delete・Output・戻る
*/
.button {
	color: black;
	background-color: orange;
	border: 1px solid;
	cursor: pointer;
	border-radius: 5px;
	font-size: 120%;
}
.button:hover {
	background-color: #00ff00;
	letter-spacing: 2px;
}

/*
---------- ボタン ----------
出勤・退勤
*/
.button_work {
	color: black;
	background-color: #00ff00;
	border: 1px solid;
	cursor: pointer;
	width: 100px;
	height: 50px;
	border-radius: 20px;
	font-size: 120%;
}
.button_work:hover {
	background-color: orange;
	letter-spacing: 2px;
}